.o-figure {
  &__placeholder {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    background-color: var(--color-image-bg);
    border: 0.125rem solid var(--color-text);
    &.--circle {
      border-radius: 50%;
      aspect-ratio: 1 / 1;
    }
  }
  &__caption {
  }
}

.o-image {
  background: var(--color-image-bg);
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}