/* Fonts */
// font family
$font-family-text: "Public Sans", "Open Sans", sans-serif;
$font-family-text-bold: "Public Sans", "Open Sans", sans-serif;
$font-family-headline: "Bebas Neue", "Public Sans", "Open Sans", sans-serif;
$font-family-navigation: "Public Sans", "Open Sans", sans-serif;
$font-family-button: "Public Sans", "Open Sans", sans-serif;
$font-family-handwritten: "Sour Gummy", "Public Sans", "Open Sans", sans-serif;

// font weight
$font-weight-text: 300;
$font-weight-text-bold: 700;
$font-weight-headline: 400;
$font-weight-navigation: 600;
$font-weight-button: 600;
$font-weight-handwritten: 200;

// font sizes
$global-font-size: 18px;
$global-line-height: 28px;

$small-font-size: 15px;
$small-line-height: 24px;

$mobile-h1-font-size: 48px;
$mobile-h1-line-height: 3rem;
$mobile-h2-font-size: 36px;
$mobile-h2-line-height: 2rem;
$mobile-h3-font-size: 24px;
$mobile-h3-line-height: 1.5rem;
$mobile-h4-font-size: 18px;
$mobile-h4-line-height: 1.5rem;
$mobile-h5-font-size: 16px;
$mobile-h5-line-height: 1.5rem;
$mobile-h6-font-size: 14px;
$mobile-h6-line-height: 1.5rem;

$desktop-h1-font-size: 72px;
$desktop-h1-line-height: 4rem;
$desktop-h2-font-size: 54px;
$desktop-h2-line-height: 3rem;
$desktop-h3-font-size: 30px;
$desktop-h3-line-height: 2rem;
$desktop-h4-font-size: 20px;
$desktop-h4-line-height: 1.75rem;
$desktop-h5-font-size: 18px;
$desktop-h5-line-height: 1.75rem;
$desktop-h6-font-size: 16px;
$desktop-h6-line-height: 1.75rem;

/* bebas-neue-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/bebas-neue-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('./fonts/bebas-neue-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/bebas-neue-v15-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('./fonts/bebas-neue-v15-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('./fonts/bebas-neue-v15-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('./fonts/bebas-neue-v15-latin-regular.svg#BebasNeue') format('svg'); /* Legacy iOS */
}

/* public-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/public-sans-v20-latin-300.eot'); /* IE9 Compat Modes */
  src: url('./fonts/public-sans-v20-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/public-sans-v20-latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('./fonts/public-sans-v20-latin-300.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('./fonts/public-sans-v20-latin-300.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('./fonts/public-sans-v20-latin-300.svg#PublicSans') format('svg'); /* Legacy iOS */
}
/* public-sans-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Public Sans';
  font-style: italic;
  font-weight: 300;
  src: url('./fonts/public-sans-v20-latin-300italic.eot'); /* IE9 Compat Modes */
  src: url('./fonts/public-sans-v20-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/public-sans-v20-latin-300italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('./fonts/public-sans-v20-latin-300italic.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('./fonts/public-sans-v20-latin-300italic.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('./fonts/public-sans-v20-latin-300italic.svg#PublicSans') format('svg'); /* Legacy iOS */
}
/* public-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/public-sans-v20-latin-600.eot'); /* IE9 Compat Modes */
  src: url('./fonts/public-sans-v20-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/public-sans-v20-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('./fonts/public-sans-v20-latin-600.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('./fonts/public-sans-v20-latin-600.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('./fonts/public-sans-v20-latin-600.svg#PublicSans') format('svg'); /* Legacy iOS */
}
/* public-sans-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Public Sans';
  font-style: italic;
  font-weight: 600;
  src: url('./fonts/public-sans-v20-latin-600italic.eot'); /* IE9 Compat Modes */
  src: url('./fonts/public-sans-v20-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/public-sans-v20-latin-600italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('./fonts/public-sans-v20-latin-600italic.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('./fonts/public-sans-v20-latin-600italic.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('./fonts/public-sans-v20-latin-600italic.svg#PublicSans') format('svg'); /* Legacy iOS */
}
/* public-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/public-sans-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: url('./fonts/public-sans-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/public-sans-v20-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('./fonts/public-sans-v20-latin-700.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('./fonts/public-sans-v20-latin-700.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('./fonts/public-sans-v20-latin-700.svg#PublicSans') format('svg'); /* Legacy iOS */
}
/* public-sans-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Public Sans';
  font-style: italic;
  font-weight: 700;
  src: url('./fonts/public-sans-v20-latin-700italic.eot'); /* IE9 Compat Modes */
  src: url('./fonts/public-sans-v20-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/public-sans-v20-latin-700italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('./fonts/public-sans-v20-latin-700italic.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('./fonts/public-sans-v20-latin-700italic.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('./fonts/public-sans-v20-latin-700italic.svg#PublicSans') format('svg'); /* Legacy iOS */
}

/* sour-gummy-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sour Gummy';
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/sour-gummy-v2-latin-200.eot'); /* IE9 Compat Modes */
  src: url('./fonts/sour-gummy-v2-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/sour-gummy-v2-latin-200.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('./fonts/sour-gummy-v2-latin-200.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('./fonts/sour-gummy-v2-latin-200.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('./fonts/sour-gummy-v2-latin-200.svg#SourGummy') format('svg'); /* Legacy iOS */
}