/* General */

// header
$mobile-header-height: 4rem;
$desktop-header-height: 5rem;

// section
$mobile-section-padding: 6rem;
$desktop-section-padding: 10rem;

// row
$mobile-row-padding: 4rem;
$desktop-row-padding: 6rem;

// icon sizes
$icon-wrapper-size: 2rem;
$icon-size: 2.5rem;
$icon-size-sm: 1.5rem;
$icon-size-xs: 1.25rem;

// border radius
$border-radius-small: 0.125rem;
$border-radius: 0.25rem;

// link underline offset
$link-underline-offset: 0.125rem;

// outline
$outline: 2px solid transparent;
$outline-offset: 2px;
$outline-border-radius: 0.125rem;
