:root {
  --color-bg: #fff;
  --color-text: #222;
  --color-image-bg: #ddd;
  --color-primary: #3d53b1;
  --color-handwritten: #3d53b1;

  --color-success: #006400;
  --color-success-contrast: #fff;
  --color-warning: #BA8E23;
  --color-success-contrast: #fff;
  --color-error: #8B0000;
  --color-error-contrast: #fff;
}

// dark mode
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #111;
    --color-text: #F0F0F0;
    --color-image-bg: #333;
    --color-primary: #498fd4;
    --color-handwritten: #498fd4;

    --color-success: #c3e3d1;
    --color-success-contrast: #000;
    --color-warning: #f3e2c0;
    --color-success-contrast: #000;
    --color-error: #efb1b2;
    --color-error-contrast: #000;
  }
}