:root {
  --color-bg: #fff;
  --color-text: #222;
  --color-image-bg: #ddd;
  --color-handwritten: #666;
  --color-primary: #00f;
  --color-primary-contrast: #fff;

  --oo-color-success: #006400;
  --oo-color-success-contrast: #fff;
  --oo-color-warning: #BA8E23;
  --oo-color-success-contrast: #fff;
  --oo-color-error: #8B0000;
  --oo-color-error-contrast: #fff;
}
