.c-figure {
  &__placeholder {
    width: 100%;
    height: auto;
    background-color: var(--color-image-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    .--circle & {
      border-radius: 50%;
      aspect-ratio: 1 / 1;
    }
  }

  &__icon {
    width: min(50%, 10rem);
    height: min(50%, 10rem);
    color: var(--color-bg);
  }

  &__caption {}
}

.c-picture {
  display: block;
  width: 100%;
  height: auto;
  line-height: 0;
}

.c-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}