.c-portfolio {
  display: flex;
  flex-direction: column;
  gap: $mobile-row-padding 2rem;

  @include media-breakpoint-up(md) {
    gap: $desktop-row-padding;
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: $mobile-row-padding 2rem;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      gap: 0;
    }
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;

    @include media-breakpoint-up(xl) {
      gap: 2rem;
    }
  }

  &__subheadline {}

  &__headline {}

  &__text {}

  &__button {}

  &__cards {
    gap: 2rem 0;

    @include media-breakpoint-up(xl) {
      gap: 4rem 0;
    }
  }

  &__categories {}
}
