.c-button-group {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }

  &.--position-center {
    justify-content: center;
  }

  &.--full-width {
    align-items: stretch;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }

  &__list-item {}

  &__item {
    .--full-width & {
      width: 100%;
    }
  }
}
