.c-about {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include media-breakpoint-up(xl) {
    gap: 4rem;
  }

  &__row {
    display: flex;
    gap: 2rem 0;

    @include media-breakpoint-up(xl) {
      gap: 0;
    }
  }
  
  &__image {}

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__headline {}

  &__text {}
}
