.c-skills-teaser {
  &__row {
    display: flex;
    flex-direction: column;
    gap: $mobile-row-padding 2rem;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      gap: 0;
    }
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    @include media-breakpoint-up(xl) {
      gap: 2rem;
    }
  }

  &__subheadline {}

  &__headline {}

  &__text {}

  &__button {}

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include media-breakpoint-up(md) {
      margin-top: calc($small-line-height + 1rem); // under subheadline
    }

    @include media-breakpoint-up(xl) {
      gap: 4rem;
      margin-top: calc($small-line-height + 2rem); // under subheadline
    }
  }
}
