.c-timeline {
  display: flex;
  flex-direction: column;
  gap: $mobile-row-padding 2rem;

  @include media-breakpoint-up(md) {
    gap: $desktop-row-padding;
  }

  &__row {}
  
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;

    @include media-breakpoint-up(xl) {
      gap: 2rem;
    }
  }

  &__subheadline {}

  &__headline {}

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;

    &::before {
        content: '';
        display: block;
        position: absolute;
        left: calc(1rem + 1px + 0.5rem);
        top: 0;
        width: 2px;
        height: 100%;
        background-color: var(--color-text);

        @include media-breakpoint-up(xl) {
          left: calc(50% - 1px);
        }
    }
  }
}
