.c-post {
  $c-post: &;

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 4 / 3;
    overflow: hidden;
    background: color-mix(in srgb, var(--color-project) 50%, var(--color-image-bg) 50%);
    padding: 0;

    @include media-breakpoint-up(xl) {
      height: 70dvh;
    }

    &.--screen {
      padding: 2rem;

      @include media-breakpoint-up(xl) {
        padding: 4rem 20dvw;
      }
    }

    &.--full {}

    &.--print {}
  }

  &__header-picture {
    display: flex;
    
    .--screen & {
      box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
      border-radius: 0.25rem;
      overflow: hidden;
      width: auto;
      max-width: 100%;
      max-height: 100%;
      aspect-ratio: 16 / 9;
    }

    .--full & {}

    .--print & {}
  }

  &__header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding-block: $mobile-row-padding $mobile-section-padding;
    gap: $mobile-row-padding;

    @include media-breakpoint-up(xl) {
      padding-block: $desktop-row-padding $desktop-section-padding;
      gap: $desktop-row-padding;
    }
  }

  &__row {
    gap: 1rem 0;

    @include media-breakpoint-up(xl) {
      gap: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    @include media-breakpoint-up(xl) {
      gap: 2rem;
    }
  }

  &__headline {}

  &__categories {}

  &__infos {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 0.5rem;
    border-top: 2px solid var(--color-text);
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    border-bottom: 2px solid var(--color-text);
    padding-block: 1rem;
  }

  &__info-label {
    font-family: $font-family-text-bold;
    font-weight: $font-weight-text-bold;
  }

  &__info-value {}

  &__link {}

  &__disclaimer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: color-mix(in srgb, var(--color-text) 66.6666%, var(--color-bg) 33.3333%);
    @include font-size($small-font-size, $small-line-height);
  }

  &__disclaimer-icon {
    width: $icon-size-xs;
    height: $icon-size-xs;
    align-self: baseline;
    position: relative;
    top: 0.25rem;
    stroke-width: 1;
  }

  &__disclaimer-text {
    
  }

  &__visuals {
    display: flex;
    flex-direction: column;
    gap: 2rem 0;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      gap: 2rem 0;
    }

    @include media-breakpoint-up(xl) {
      gap: 4rem 0;
    }
  }

  &__visual-wrapper {
    &.--screen {
      &:nth-child(2n+1 of #{&}) {
        #{$c-post}__visual {
          background: color-mix(in srgb, var(--color-bg) 66.6666%, var(--color-image-bg) 33.3333%);
        }
      }
      &:nth-child(2n+2 of #{&}) {
        #{$c-post}__visual {
          background: color-mix(in srgb, var(--color-project) 33.3333%, var(--color-bg) 66.6666%);
        }
      }
      &:nth-child(2n+3 of #{&}) {
        #{$c-post}__visual {
          background: var(--color-image-bg);
        }
      }
    }

    &.--full {
      &:nth-child(4n+1 of #{&}),
      &:nth-child(4n+2 of #{&}) {
        #{$c-post}__visual {
          background: var(--color-image-bg);
        }
      }
    }

    &.--print {}
  }

  &__visual {
    display: flex;
    align-items: center;
    justify-content: center;
    background: color-mix(in srgb, var(--color-project) 50%, var(--color-image-bg) 50%);

    .--screen & {
      aspect-ratio: 16 / 9;
      padding: 2rem;
      @include media-breakpoint-up(xl) {
        padding: 6rem 12rem;
      }
    }

    .--full & {
      aspect-ratio: 2 / 3;
      padding: 2rem;
      @include media-breakpoint-up(xl) {
        aspect-ratio: 3 / 4;
      }
    }

    .--print & {}
  }

  &__visual-picture {
    overflow: hidden;
    display: flex;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);

    .--screen & {
      width: 100%;
      height: auto;
      border-radius: 0.25rem;
    }

    .--full & {
      width: auto;
      height: 100%;
      border-radius: 0.125rem;
    }

    .--print & {}
  }

  &__visual-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    max-height: 1200px;
  }

  &__visual-description {
    margin-top: 0.25rem;
    color: color-mix(in srgb, var(--color-text) 66.6666%, var(--color-bg) 33.3333%);
    @include font-size($small-font-size, $small-line-height);
  }

  &__mockups-wrapper {}

  &__mockups {
    position: relative;
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    justify-content: center;
    background: var(--color-image-bg);
    padding: 2rem;
    @include media-breakpoint-up(md) {
      padding: 4rem;
    }
    @include media-breakpoint-up(xl) {
      aspect-ratio: 16 / 9;
      align-items: center;
    }
  }

  &__mockup {
    overflow: hidden;
    display: flex;
    position: relative;

    @include media-breakpoint-up(xl) {
      position: absolute;
    }

    &.--mobile {
      max-width: 27.5%;
      z-index: 2;
      border-radius: 0.5rem;
      border: 0.125rem solid black;
      background: color-mix(in srgb, black 75%, white 25%);
      box-shadow: 0px 0px 1px 1px #666, 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
      padding-top: 0.875rem;

      &::before {
        content: '';
        display: block;
        width: 30%;
        height: 0.25rem;
        left: 35%;
        top: 0.125rem;
        background: black;
        position: absolute;
        border-radius: 0.5rem;
      }

      &::after {
        content: '';
        display: block;
        width: 50%;
        height: 1px;
        left: 25%;
        bottom: 0.125rem;
        background: black;
        position: absolute;
        border-radius: 0.5rem;
        opacity: 0.25;
      }

      @include media-breakpoint-up(md) {
        border-radius: 1rem;
        border: 0.25rem solid black;
        padding-top: 1.5rem;

        &::before {
          height: 0.5rem;
          top: 0.25rem;
        }

        &::after {
          height: 0.125rem;
          bottom: 0.25rem;
        }
      }

      @include media-breakpoint-up(xl) {
        max-width: 10%;
        left: calc(25% + 6rem + 2rem);
        bottom: 6rem;
      }
    }

    &.--tablet  {
      max-width: 72.5%;
      z-index: 1;
      border-radius: 0.75rem;
      border: 0.625rem solid black;
      box-shadow: 0px 0px 1px 1px #666, 2px 2px 4px 0px rgba(0, 0, 0, 0.1);

      &::after {
        content: '';
        display: block;
        width: 50%;
        height: 0.125rem;
        left: 25%;
        bottom: 0.25rem;
        background: black;
        position: absolute;
        border-radius: 0.5rem;
        opacity: 0.25;
      }

      @include media-breakpoint-up(md) {
        border-radius: 1rem;
        border: 0.75rem solid black;
      }

      @include media-breakpoint-up(xl) {
        max-width: 25%;
        left: 6rem;
        bottom: 6rem;
      }
    }

    &.--desktop {
      display: none;

      @include media-breakpoint-up(xl) {
        display: block;
        aspect-ratio: 16 / 9;
        overflow: visible;
        background: #ddd;
        border-radius: 0.25rem 0.25rem 0 0;
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
        max-width: 65%;
        left: auto;
        right: 6rem;
        top: 6rem;
        padding-top: 1.25rem;

        &::after {
          content: '';
          display: block;
          border-radius: 50%;
          position: absolute;
          background-color: red;
          width: 0.5rem;
          height: 0.5rem;
          top: 0.375rem;
          left: 0.5rem;
        }
      }
    }
  }

  &__mockup-picture {
    .--desktop & {
      &::before,
      &::after {
        content: '';
        display: block;
        width: 0.25rem;
        height: 0.25rem;
        border-radius: 50%;
        position: absolute;
        top: 0.25rem;
      }

      &::before {
        background-color: yellow;
        left: 0.675rem;
      }

      &::after {
        background-color: LimeGreen;
        left: 1.125rem;
      }

      @include media-breakpoint-up(xl) {
        &::before,
        &::after {
          width: 0.5rem;
          height: 0.5rem;
          top: 0.375rem;
        }

        &::before {
          left: 1.25rem;
        }

        &::after {
          left: 2rem;
        }
      }
    }
  }

  &__mockup-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    max-height: 1200px;
  }

  &__case-studies {
    display: flex;
    gap: 2rem;
    @include media-breakpoint-up(xl) {
      gap: 4rem;
    }
  }

  &__case-studies-wrapper {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 1rem;
    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 2rem;
    }
    @include media-breakpoint-up(xl) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  &__case-study {}

  &__case-study-picture {
    aspect-ratio: 1 / 1;
  }

  &__case-study-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top left;
  }

  &__case-study-description {
    margin-top: 0.25rem;
    color: color-mix(in srgb, var(--color-text) 66.6666%, var(--color-bg) 33.3333%);
    @include font-size($small-font-size, $small-line-height);
  }
}