.c-skill-card {
  display: flex;
  flex-direction: column;
  gap: 2rem 0;

  @include media-breakpoint-up(md) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  &__icon {
    width: $icon-size-sm;
    height: $icon-size-sm;

    @include media-breakpoint-up(xl) {
      width: $icon-size;
      height: $icon-size;
    }
  }

  &__headline {}

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @include media-breakpoint-up(xl) {
      gap: 1rem;
    }
  }

  &__subheadline {
    border-top: 2px solid var(--color-text);
    padding-top: 1rem;
  }

  &__list {
    &.--pills {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;

      @include media-breakpoint-up(sm) {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }

  &__list-item {
    .--pills & {
      padding: 0.25rem 0.5rem;
      background: var(--color-image-bg);
    }
  }
}