.c-header {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  background: var(--color-bg);
  padding-block: 1rem;
  border-bottom: 2px solid var(--color-text);

  &__container {}

  &__row {}

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__logo-link {
    display: flex;
    text-decoration: none;
  }

  &__logo-text {
    font-family: $font-family-text-bold;
    font-weight: $font-weight-text-bold;
    @include font-size($mobile-h3-font-size, $mobile-h3-line-height);
    @include media-breakpoint-up(xl) {
      @include font-size($desktop-h3-font-size, $desktop-h3-line-height);
    }
  }

  &__nav {}
}
