.c-info-messages {
  font-family: $font-family-text-bold;
  font-weight: $font-weight-text-bold;
  padding: 0.5rem 1rem;
  color: var(--color-text);
  background-color: var(--color-bg);
  border: 2px solid currentColor;

  &.--is-success {
    color: var(--color-success-contrast);
    background-color: var(--color-success);
  }

  &.--is-warning {
    color: var(--color-warning-contrast);
    background-color: var(--color-warning);
  }

  &.--is-error {
    color: var(--color-error-contrast);
    background-color: var(--color-error);
  }
}
