$form-height: 2.375rem;
$form-margin: 0; // Margin
$form-padding: 0.25rem 0.75rem; // Padding
$form-padding-top: 0.25rem; // Padding top
$form-padding-right: 0.75rem; // Padding right
$form-font-size: $global-font-size;
$form-line-height: $global-line-height;
$form-remove-wrapper: 1.5rem; // Size of the remove background //
$form-remove-size: 1.25rem; // Size of the remove icon //
$form-select-size: 1.25rem; // Size of the select arrow icon //
$form-control-wrapper: 1.25rem; // Size of the checkbox and radio button //
$form-control-icon: 1rem; // Size of the checkbox and radio button icon //
$form-checkbox-icon: 0.875rem; // Size of the checkbox icon //
$form-border: 1px solid;
$form-border-color: var(--color-text);
$form-radius: $border-radius; // Border radius
$form-radius-small: $border-radius-small; // Border radius small
$form-outline: $outline;
$form-focus: var(--color-primary);
$form-duration: 0.25s; // Transition duration
$form-timing: ease-in-out; // Transition timing
$form-svg-arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");
$form-svg-checkbox: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M20 6 9 17l-5-5' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E");
$form-color: var(--color-text);
$form-bg: var(--color-bg);
$form-shadow: 0 0 5px var(--color-text);
$form-dropdown: var(--color-bg);
$form-selected: var(--color-text);
$form-placeholder: var(--color-image-bg);
$form-valid-color: var(--color-success);
$form-invalid-color: var(--color-error);

/* Form */
.c-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Fieldset & legend */
.c-fieldset {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
}

.c-legend {}

/* Input group */
.c-input-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  &__error {
    color: $form-invalid-color;

    &:not([hidden]) {
      display: flex;
      align-items: baseline;
      gap: 0.5rem;
    }
  }

  &__error-icon {
    width: $icon-size-xs;
    height: $icon-size-xs;
    flex-shrink: 0;
    position: relative;
    bottom: -0.125rem;
  }

  &__error-text {}
}

/* Input */
.c-input {
  appearance: none;
  box-sizing: border-box;
  width: 100%;
  margin: $form-margin;
  padding: $form-padding;
  resize: vertical;
  font-family: inherit;
  font-size: $form-font-size;
  line-height: $form-line-height;
  color: $form-color;
  background: $form-bg;
  border: $form-border $form-border-color;
  border-radius: $form-radius;
  outline: $form-outline;
  -moz-appearance: textfield;
  transition: outline-color $form-duration $form-timing, border-color $form-duration $form-timing;
  height: 2.375rem;

  @include focus-all() {
    outline-color: $form-focus;
    border-color: $form-focus;
  }

  &::placeholder {
    color: $form-placeholder;
    font-weight: $font-weight-text;
    opacity: 1; // Reset opacity for Firefox
  }

  &.--success {
    outline-color: $form-valid-color;
    border-color: $form-valid-color;
  }

  &.--error {
    outline-color: $form-invalid-color;
    border-color: $form-invalid-color;
  }
}

/* Select */
.c-select {
  appearance: none;
  box-sizing: border-box;
  width: 100%;
  margin: $form-margin;
  padding: $form-padding;
  resize: vertical;
  font-family: inherit;
  font-size: 100%;
  line-height: $form-line-height;
  color: $form-color;
  background: $form-bg;
  border: $form-border $form-border-color;
  border-radius: $form-radius;
  outline: $form-outline;
  transition: outline-color $form-duration $form-timing,
    border-color $form-duration $form-timing;

  @include focus-all() {
    outline-color: $form-focus;
    border-color: $form-focus;
  }

  option {
    &[value=''] {
      color: $form-placeholder;
    }
    &:checked {
      background-color: $form-selected;
    }
  }

  &.--single {
    background-image: $form-svg-arrow;
    background-size: $form-select-size;
    background-repeat: no-repeat;
    background-position: calc(100% - $form-padding-right) center;
    padding-right: calc(($form-padding-right * 2) + $form-select-size);
  }

  &.--multiple {
    max-height: $form-height;
  }

  &.--success {
    outline-color: $form-valid-color;
    border-color: $form-valid-color;
  }

  &.--error {
    outline-color: $form-invalid-color;
    border-color: $form-invalid-color;
  }
}

/* Textarea */
.c-textarea {
  appearance: none;
  box-sizing: border-box;
  width: 100%;
  margin: $form-margin;
  padding: $form-padding;
  min-height: calc(($global-line-height * 5) + ($form-padding-top * 2));
  max-height: 60vh;
  resize: vertical;
  font-family: inherit;
  font-size: 100%;
  line-height: $form-line-height;
  color: $form-color;
  background: $form-bg;
  border: $form-border $form-border-color;
  border-radius: $form-radius;
  outline: $form-outline;
  transition: outline-color $form-duration $form-timing,
    border-color $form-duration $form-timing;

  @include focus-all() {
    outline-color: $form-focus;
    border-color: $form-focus;
  }

  &::placeholder {
    color: $form-placeholder;
    font-weight: $font-weight-text;
    opacity: 1; // Reset opacity for Firefox
  }

  &.--success {
    outline-color: $form-valid-color;
    border-color: $form-valid-color;
  }

  &.--error {
    outline-color: $form-invalid-color;
    border-color: $form-invalid-color;
  }
}

/* Label */
.c-label {
  padding: 0;
  margin: 0;
  font-size: $small-font-size;
  line-height: $small-line-height;
  color: inherit;

  &__required {}
}

/* Control */
.c-control {
  $c-control: &;

  position: relative;
  margin: 0;
  box-sizing: border-box;

  // Input -------------------------------------------------------------- //
  &__input {
    position: absolute;
    opacity: 0;
    appearance: none;
    margin: 0;
    left: 0;
    bottom: -0.125rem;
    width: $form-control-wrapper;
    height: $form-control-wrapper;
    pointer-events: none;
  }

  // Label -------------------------------------------------------------- //
  &__label {
    display: flex;
    align-items: baseline;
    position: relative;
    hyphens: auto;

    &:before {
      content: '';
      display: block;
      width: $form-control-wrapper;
      height: $form-control-wrapper;
      flex-shrink: 0;
      margin-right: 0.5rem;
      background: $form-bg;
      border: $form-border $form-border-color;
      border-radius: $border-radius-small;
      outline: $form-outline;
      position: relative;
      bottom: -0.25rem;
      border: $form-border $form-border-color;
      outline: $form-outline;
      transition: outline $form-duration $form-timing,
        border $form-duration $form-timing,
        background-color $form-duration $form-timing;
          color: $form-color;

    }

    &:after {
      content: '';
      display: block;
      width: $form-control-icon;
      height: $form-control-icon;
      position: absolute;
      top: 0.375rem;
      left: 0.125rem;
      background-color: $form-color;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: $border-radius-small;
      transform: scale(0);
      mask: $form-svg-checkbox;
      mask-repeat: no-repeat;
      mask-size: $form-checkbox-icon;
      mask-position: center;
      transition: transform $form-duration $form-timing,
        background-color $form-duration $form-timing;
    }
  }

  &__input.--radio + &__label {
    &:before {
      border-radius: 100%;
    }
    &:after {
      mask: none;
      border-radius: 100%;
    }
  }

  &__input:checked + &__label {
    &:before {}

    &:after {
      transform: scale(1);
    }
  }

  &__input:focus + &__label,
  &__input:focus-visible + &__label {
    &:before {
      outline-color: $form-focus;
      border-color: $form-focus;
    }
  }
}