.c-handwritten {
  $c-handwritten: &;

  font-family: $font-family-handwritten;
  font-weight: $font-weight-handwritten;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  word-spacing: 0.05em;
  color: var(--color-handwritten);
  position: absolute;
  width: min(50%, 10rem);

  &__icon {
    position: absolute;
    color: currentColor;
    width: 4rem;
    height: 4rem;
  }

  &__text {}

  &.--logo {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 2rem 1fr;
    gap: 0.25rem;
    align-items: center;
    justify-content: flex-start;
    #{$c-handwritten}__icon {
      position: relative;
      width: 2rem;
      height: 2rem;
      rotate: -90deg;
    }
  }

  &.--profile {
    bottom: 100%;
    left: -0.5rem;
    #{$c-handwritten}__icon {
      top: calc(100% + 0.25rem);
      rotate: -90deg;
    }
  }

  &.--hero {
    position: relative;
    top: 0.25rem;
    width: 100%;
    display: grid;
    grid-template-columns: 2rem minmax(0, 12rem);
    gap: 0.5rem;
    #{$c-handwritten}__icon {
      position: relative;
      width: 2rem;
      height: 2rem;
    }
  }

  &.--timeline {
    bottom: calc(100% + 1rem);
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 2rem minmax(0, 12rem);
    gap: 0.25rem;
    align-items: end;
    #{$c-handwritten}__icon {
      position: relative;
      width: 2rem;
      height: 2rem;
      scale: 1 -1;
    }
  }

  &.--footer {
    width: 100%;
    bottom: calc(100% + 0.5rem);
    left: 0;
    #{$c-handwritten}__icon {
      width: 2rem;
      height: auto;
      top: 0.5rem;
      left: -2.5rem;
      scale: 1 -1;
      rotate: 22.5deg;
    }
  }
}