.c-footer-nav {
  $c-footer-nav: &;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem 1rem;

    @include media-breakpoint-up(xl) {
      justify-content: flex-end;
    }
  }
  
  &__item {}

  &__link {}

  &__sub-menu {}

  .--has-children {}

  .--top-level {}

  .--ancestor {}

  .--active {}

  .--home {}
}
