.c-timeline-card {
  $c-timeline-card: &;

  --box-padding: 1rem;
  --icon-column: 2.5rem;
  --icon-size: 1rem;
  --column-gap: 1rem;
  --row-gap: 0.5rem;

  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--row-gap) var(--column-gap);
  margin-left: var(--icon-column);
  padding: var(--box-padding);

  @include media-breakpoint-up(xl) {
    border: 2px solid var(--color-text);
  }
  
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: calc(0px - var(--icon-column));
    top: calc(var(--box-padding) + (($global-line-height / 2) - (var(--icon-size) / 2)));
    border-radius: 50%;
    width: var(--icon-size);
    height: var(--icon-size);
    background-color: var(--color-text);

    @include media-breakpoint-up(xl) {
      left: calc(-2px - var(--icon-column) - (var(--icon-size) / 2));
    }
  }

  @include media-breakpoint-up(xl) {
    --box-padding: 2rem;
    --icon-column: 6rem;
    --icon-size: 1.5rem;
    --column-gap: 2rem;
    --row-gap: 1rem;

    margin-inline: calc(50% + var(--icon-column)) 0;
  }

  &:nth-child(odd) {
    @include media-breakpoint-up(xl) {
      margin-inline: 0 calc(50% + var(--icon-column));
    }
    &::before {
      @include media-breakpoint-up(xl) {
          left: auto;
          right: calc(-2px - var(--icon-column) - (var(--icon-size) / 2));
        }
    }
  }

  &__company {}

  &__date {
    justify-self: center;
  }

  &__job-title {}

  &__location {}

  &__roles {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    padding-left: var(--box-padding);
    @include media-breakpoint-up(xl) {
      gap: 0.75rem;
    }

    &::before {
      content: '';
      display: block;
      width: 2px;
      position: absolute;
      background: color-mix(in srgb, var(--color-text) 66.6666%, var(--color-bg) 33.3333%);
      left: 0;
      top: 0.25rem;
      bottom: 0.25rem;
    }
  }

  &__role {
    display: flex;
    flex-direction: column;
  }

  &__role-title {}

  &__role-date {
    @include font-size($small-font-size, $small-line-height);
    color: color-mix(in srgb, var(--color-text) 66.6666%, var(--color-bg) 33.3333%);
  }

  &.--future {
    margin-top: 2.5rem;
  }
}
