.c-button {
  $c-button: &;

  display: inline-block;
  position: relative;
  font-family: $font-family-button;
  font-weight: $font-weight-button;
  @include font-size($small-font-size, $small-line-height);
  text-align: center;
  margin: 0;
  padding: 0.5rem 2rem;
  color: var(--color-bg);
  background: var(--color-text);
  border: 2px solid var(--color-text);
  border-radius: 0.125rem;
  text-decoration: none;
  outline: $outline;
  outline-offset: $outline-offset;
  overflow: hidden;
  z-index: 1;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, text-decoration 0.25s ease-in-out, outline-color 0.25s ease-in-out, opacity 0.25s ease-in-out;
  cursor: pointer;

  @include visited-active() {
    color: var(--color-bg);
    background: var(--color-text);
    border-color: var(--color-text);
  }

  @include hover() {
    color: var(--color-bg);
    background: var(--color-primary);
    border-color: var(--color-primary);
  }

  @include focus-visible() {
    outline-color: var(--color-text);
  }

  @include disabled() {
    opacity: 0.4;
    outline-color: transparent;
    cursor: default;
  }

  &.--ghost {
    color: var(--color-text);
    background: transparent;

    @include hover() {
      color: var(--color-bg);
      background: var(--color-text);
      border-color: var(--color-text);
    }
  }

  &.--link {
    text-decoration: underline currentColor;
    text-underline-offset: $link-underline-offset;
    border-color: transparent;
    color: var(--color-text);
    background-color: transparent;

    &::after {
      content: none;
    }

    @include hover() {
      text-decoration-color: transparent;
    }

    @include focus-visible() {
      text-decoration-color: transparent;
    }
  }
}
