.c-post-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background: color-mix(in srgb, var(--color-project) 50%, var(--color-image-bg) 50%);
    border: 2px solid var(--color-text);
    aspect-ratio: 4 / 3;

    @include media-breakpoint-up(xl) {
      padding: 4rem;
    }
  }

  &__picture {
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    overflow: hidden;
  }

  &__image {}

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @include media-breakpoint-up(xl) {
      gap: 1rem;
    }
  }

  &__headline {}

  &__text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

  &__link {}

  &.--inactive {
    display: none;
  }
}