.c-text {
  &__container {}

  &__row {}

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    @include media-breakpoint-up(xl) {
      gap: 2rem;
    }
  }

  &__headline {}
  
  &__text {}
}
