.c-post {
  $c-post: &;

  &__header {
    background: color-mix(in srgb, var(--color-project) 50%, var(--color-image-bg) 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 4 / 3;

    &.--screen {
      padding: 2rem;

      @include media-breakpoint-up(xl) {
        height: 70dvh;
        padding: 4rem 20dvw;
      }
    }
  }

  &__header-picture {
    display: flex;
    
    .--screen & {
      box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
      border-radius: 0.25rem;
      overflow: hidden;
      width: auto;
      max-width: 100%;
      max-height: 100%;
      aspect-ratio: 16 / 9;
    }
  }

  &__header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding-block: $mobile-row-padding $mobile-section-padding;
    gap: $mobile-row-padding;

    @include media-breakpoint-up(xl) {
      padding-block: $desktop-row-padding $desktop-section-padding;
      gap: $desktop-row-padding;
    }
  }

  &__row {
    gap: 1rem 0;

    @include media-breakpoint-up(xl) {
      gap: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    @include media-breakpoint-up(xl) {
      gap: 2rem;
    }
  }

  &__headline {}

  &__categories {}

  &__infos {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 0.5rem;
    border-top: 2px solid var(--color-text);
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    border-bottom: 2px solid var(--color-text);
    padding-block: 1rem;
  }

  &__info-label {
    font-family: $font-family-text-bold;
    font-weight: $font-weight-text-bold;
  }

  &__info-value {}

  &__link {}

  &__disclaimer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: color-mix(in srgb, var(--color-text) 66.6666%, var(--color-bg) 33.3333%);
  }

  &__disclaimer-icon {
    width: $icon-size-xs;
    height: $icon-size-xs;
  }

  &__disclaimer-text {
    @include font-size($small-font-size, $small-line-height);
  }

  &__visuals {
    display: flex;
    flex-direction: column;
    gap: 2rem 0;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      gap: 2rem 0;
    }

    @include media-breakpoint-up(xl) {
      gap: 4rem 0;
    }
  }

  &__visual-wrapper {
    &.--screen {
      &:nth-child(2n+1 of #{&}) {
        #{$c-post}__visual {
          background: color-mix(in srgb, var(--color-bg) 66.6666%, var(--color-image-bg) 33.3333%);
        }
      }
      &:nth-child(2n+2 of #{&}) {
        #{$c-post}__visual {
          background: color-mix(in srgb, var(--color-project) 33.3333%, var(--color-bg) 66.6666%);
        }
      }
      &:nth-child(2n+3 of #{&}) {
        #{$c-post}__visual {
          background: var(--color-image-bg);
        }
      }
    }

    &.--full {
      &:nth-child(4n+1 of #{&}),
      &:nth-child(4n+2 of #{&}) {
        #{$c-post}__visual {
          background: var(--color-image-bg);
        }
      }
    }
  }

  &__visual {
    display: flex;
    align-items: center;
    justify-content: center;
    background: color-mix(in srgb, var(--color-project) 50%, var(--color-image-bg) 50%);

    .--screen & {
      aspect-ratio: 16 / 9;
      padding: 2rem;
      @include media-breakpoint-up(xl) {
        padding: 6rem 12rem;
      }
    }

    .--full & {
      aspect-ratio: 2 / 3;
      padding: 2rem;
      @include media-breakpoint-up(xl) {
        aspect-ratio: 3 / 4;
      }
    }
  }

  &__visual-picture {
    overflow: hidden;
    display: flex;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);

    .--screen & {
      width: 100%;
      height: auto;
      border-radius: 0.25rem;
    }

    .--full & {
      width: auto;
      height: 100%;
      border-radius: 0.125rem;
    }
  }

  &__visual-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    max-height: 1200px;

    .--screen & {}

    .--full & {}
  }
}