.c-post-card {
  $c-post-card: &;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background: color-mix(in srgb, var(--color-project) 50%, var(--color-image-bg) 50%);
    border: 2px solid var(--color-text);
    aspect-ratio: 4 / 3;

    @include media-breakpoint-up(xl) {
      padding: 4rem;
    }
  }

  &__picture {
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    overflow: hidden;
  }

  &__image {}

  &__placeholder {
    width: 100%;
    height: 100%;
    display: flex;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__headline {}

  &__text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

  &__link {
    font-family: $font-family-button;
    font-weight: $font-weight-button;
  }

  &.--inactive {
    display: none;
  }

  &.--special {
    #{$c-post-card}__image-wrapper {
      background-color: var(--color-image-bg);
      padding: 0;
    }
  }
}