.c-wysiwyg {
  > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  h1 {
    margin-bottom: 1.5rem;
    @include media-breakpoint-up(xl) {
      margin-bottom: 2rem;
    }
  }

  h2 {
    margin-bottom: 1.5rem;
    @include media-breakpoint-up(xl) {
      margin-bottom: 2rem;
    }
  }

  h3 {
    margin-bottom: 1.5rem;
    @include media-breakpoint-up(xl) {
      margin-bottom: 2rem;
    }
  }

  h4 {
    margin-bottom: 1.5rem;
    @include media-breakpoint-up(xl) {
      margin-bottom: 1.75rem;
    }
  }

  h5 {
    margin-bottom: 1.5rem;
    @include media-breakpoint-up(xl) {
      margin-bottom: 1.75rem;
    }
  }

  h6 {
    margin-bottom: 1.5rem;
    @include media-breakpoint-up(xl) {
      margin-bottom: 1.5rem;
    }
  }

  a {}

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 1.5rem;

    > li {
      list-style-type: none;
      position: relative;
      padding-left: 0;

      &:before {
        content: '';
        display: inline-block;
        border-radius: 50%;
        position: absolute;
        left: -1.5rem;
        top: calc(($global-line-height / 2) - (0.5rem / 2));
        width: 0.5rem;
        height: 0.5rem;
        color: var(--color-primary);
        background: currentColor;
      }
      > li {
        &:before {
          border: 2px solid currentColor;
          background: transparent;
        }
      }
    }
  }

  ol {
    list-style-type: none;
    counter-reset: numbers;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 0;

    > li {
      position: relative;
      counter-increment: numbers;
      padding-left: calc(1rem + 1ch);

      &:before {
        content: counters(numbers, '.') ' ';
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        color: var(--color-primary);
        font-family: $font-family-text-bold;
        font-weight: $font-weight-text-bold;
        left: 0;
      }
    }
  }

  /**
  * For nested lists
  */
  ol,
  ul {
    > li {
      ol {
        margin-top: 0.5rem;
        > li {
          /**
          * calculate position by amount of characters in counter,
          * every digit corresponds 1ch and every dot corresponds 0.5ch
          * example: 2.1.1 = 4ch
          **/
          padding-left: calc(1rem + 2.5ch);
          ol > li {
            padding-left: calc(1rem + 4ch);
            ol > li {
              padding-left: calc(1rem + 5.5ch);
              ol > li {
                padding-left: calc(1rem + 7ch);
              }
            }
          }
        }
      }
      ul {
        margin-top: 0.5rem;
      }
    }
  }
}
