/*------------------------------------*\
  #PAGE
\*------------------------------------*/

/**
 * Page-level styling (e.g. HTML and BODY elements).
 */
html,
body {
  height: 100%;
  font-size: $global-rem-size;
  line-height: $global-line-height;
  font-family: $font-family-text;
  font-weight: $font-weight-text;
  background-color: var(--color-bg);
  color: var(--color-text);
}

html {
  scroll-behavior: auto;
}

header,
main,
footer {
  font-size: $global-font-size;
  line-height: $global-line-height;
  background-color: var(--color-bg);
}
