table {
  width: 100%;
  color: var(--color-text);
  vertical-align: top;
  caption-side: bottom;
  border-collapse: collapse;
  text-align: left;

  th,
  td {
  }

  tbody {
    tr {
    }
    td {
    }
  }

  thead {
    tr {
    }
    th {
    }
  }

  caption {
  }
}
