/* Text meant only for screen readers. */
.u-screen-reader-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  word-wrap: normal !important;

  @include focus-all() {
    clip: auto !important;
    clip-path: none;
    width: auto;
    height: auto;
    margin: 0;
    display: inline-block;
    z-index: 100000; /* Above WP toolbar. */
  }
}
